.container {
    position: relative;
    width: 100vh;
    height: 100vh;
}
.block1 {
    height: 340px;
    width: 340px;
    padding: 30px;
    border: solid black 4px;
}
.block2 {
    height: 300px;
    width: 300px;
    padding: 50px;
    border: solid black 4px;
}
.block3 {
    width: 45%;
    height: 100px;
    border: solid 1px;
}
.block4 {
    width: 200px;
    height: 250px;
    border: solid 5px;
    background-image: url("https://via.placeholder.com/250x200");
}
.block5 {
    width: 150px;
    padding: 50px;
    border: dashed 3px red;
    margin: 10%;
}