.container {
    position: relative;
    width: 100vh;
    height: 100vh;
}
.box {
    color: white;
    font-family: "BankGothic Lt BT";
    text-align: center;
    line-height: 250px;
    width: 100%;
    height: 250px;
    background-color: blue;
}

@media only screen and (min-width: 786px) {
    .box {
        color: green;
        font-family: "BankGothic Lt BT";
        text-align: center;
        line-height: 350px;
        width: 50%;
        height: 350px;
        background-color: yellow;
    }
}
@media only screen and (min-width: 1200px) {
    .box {
        color: yellow;
        font-family: "Comic Sans MS";
        text-align: center;
        line-height: 450px;
        width: 33.33%;
        height: 450px;
        background-color: green;
    }
}